.vs/
KnowledgeBase/bin/
KnowledgeBase/obj/
KnowledgeBase/App.config
KnowledgeBase/KnowledgeBase.csproj
KnowledgeBase/Properties/Resources.Designer.cs
KnowledgeBase/Properties/Settings.Designer.cs
_Dbase/
